@charset "UTF-8";
ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
   	overflow: hidden;
    background-color: #333;
	}
li{
   	float: left;
	}
li a{
	display: block;
	color:lightgreen;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	}
li a:hover{
	background-color: #111;
	}
div.img
  {
  margin:3px;
  border:1px solid #bebebe;
  height:auto;
  width:auto;
  float:left;
  text-align:center;
  }
div.img img
  {
  display:inline;
  margin:3px;
  border:1px solid #bebebe;
  }
div.img a:hover img
  {
  border:1px solid #333333;
  }
div.desc
  {
  text-align:center;
  font-weight:normal;
  width:150px;
  font-size:12px;
  margin:10px 5px 10px 5px;
  }